/* OVERALL SITE STYLES */
html,
body,
.container:first-child {
	height: 100%;
	font-family: 'Open Sans', sans-serif;
	font-weight: 500;
	font-size: 16px;
	line-height: 23px;
	-webkit-font-smoothing: antialiased;
	background: #e5e5e5;
	color: #373737;
	cursor: default;
}

body {
	background-image: url(../img/cover.jpg);
	bacakground-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	background-attachment: fixed;
}

a,
a:visited,
a:hover,
a:active,
.clickable {
	color: inherit;
	text-decoration: none;
	outline: none;
	transition: all ease .5s;
}


a.button,
.button {
    display: inline-block;
    padding: 10px;
    color: #fff;
    text-decoration: none;
    text-align: center;
    line-height: 1;
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
    text-shadow:0 -1px 1px rgba(0, 0, 0, 0.25);
    border-bottom: 1px solid rgba(0, 0, 0, 0.25);
    position: relative;
    cursor: pointer;
    background-color: #2DAEBF;
    font-family: 'Open sans', sans-serif;
}

.container {
	max-width: 2000px;
	margin: 0 auto;
	color: #555;
}

.row {
	max-width: 1400px;
	margin-bottom: 30px;
}

button,
input,
select,
textarea {
    color: #333;
}

label {
	line-height: 36px;
}

input,
textarea {
	display: block;
	width: 98%;
	padding:  0 0 0 5px;
	height: 36px;
	font-size: 14px;
	border: solid 1px #666;
	background-color: rgba(255,255,255,0.7);
	transition: .5s all ease;
}

textarea {
	height: auto;
}

form:hover input,
form:hover textarea {
	background-color: rgba(255,255,255,.9);
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

img {
    vertical-align: middle;
}

form {
	padding: 15px;
	text-align: left;
	background-color: #323a47;
}

fieldset {
	display: block;
    border: 0;
    margin: 0;
    padding: 0;
}

fieldset .row {
	margin-top: 15px;
	margin-bottom: 0;
}

textarea {
    resize: vertical;
}

p a {
	text-decoration: underline;
}

.horiz li {
	display: inline-block;
}

h1,
h2,
h3,
h4 {
	font-family: 'Oswald', sans-serif;
	font-weight: 500;
	text-transform: uppercase;
	margin: 0;
	padding: 0;
	display: block;
}

h1 {
	font-size: 60px;
}

h2 {
	font-size: 60px;
	line-height: 1.1em;
	text-align: center;
}

h3 {
	color: #ff643e;
	font-size: 26px;
	line-height: 40px;
}

#contact h3 {
	text-align: center;
}

h4 {
	font-size: 20px;
}

/* HEADER STYLES */
header {
	position: relative;
	padding-right: 20px;
	padding-left: 20px;
	color: #748f98;
	background: #323a47;
}

header .row {
	margin-bottom: 0;
}

.logo,
a.logo {
	font-family: 'Oswald', sans-serif;
	font-size: 27px;
	line-height: 80px;
	color: #fff;
	text-transform: uppercase;
}

.logo:first-line {
	font-size: 27px;
}

.navTrigger {
	display: block;
}

.navTrigger p {
	display: block;
	float: right;
	width: 28px;
	margin: 0;
	padding: 10px;
	font-size: 18px;
	text-align: center;
	background-color: #182130;
}

header {
	height: 43px;
}

header nav {
	display: none;
	position: absolute;
	z-index: 1000;
	top: 0;
	right: 0;
	width: 100%;
	color: #748f98;
	background: #182130;
}

nav a {
	display: block;
	text-transform: uppercase;
	padding: 15px;
}

nav a:hover {
	color: #ff643e;
}

header nav a:hover {
	background-color: rgba(51,51,51,0.4);	
}

nav .active a,
nav .active a:hover {
	cursor: default;
	color: #fff;
	background-color: transparent;
}
nav li {
	display: block;
}

/* Footer Styles */
footer {
	padding-right: 20px;
	padding-left: 20px;
	color: #666;
	background: none;
}

footer .row {
	margin-bottom: 0;
}

footer .logo {
	color: #666;
}

footer .copyright {
	padding-top: 30px;
	text-align: right;
}

/* STYLES FOR ALL HOME SECTIONS */
section.container {
	padding-top: 60px;
	padding-bottom: 30px;
	background-color: #e5e5e5;
}

section.homesection {
	padding-top: 120px;
	padding-bottom: 120px;
	font-family: 'Oswald', sans-serif;
	font-weight: 500;
	font-size: 50px;
	line-height: 80px;
	color: #ff643e;
	text-align: center;
	background-color: transparent;
}

section.homesection span {
	display: inline-block;
	padding: 0 10px;
	background-color: rgba(255,255,255,0.6);
}

.come-in {
  transform: translateY(150px);
  animation: come-in 0.3s ease forwards;
}
.come-in:nth-child(2),
.come-in:nth-child(6),
.come-in:nth-child(10) {
  animation-duration: 0.6s; /* So they look staggered */
}
.come-in:nth-child(3),
.come-in:nth-child(7),
.come-in:nth-child(11) {
  animation-duration: 1.2s; /* So they look staggered */
}
.come-in:nth-child(4),
.come-in:nth-child(8),
.come-in:nth-child(12) {
  animation-duration: 1.8s; /* So they look staggered */
}
.come-in:nth-child(5),
.come-in:nth-child(9) {
  animation-duration: 0.3s; /* So they look staggered */
}

@keyframes come-in {
  to { transform: translateY(0); }
}


/* PORTFOLIO STYLES */
#portfolio {
	color: #e5e5e5;
	background: #323a47;
}

#portfolio figure {
	margin-top: 30px;
}

.portfolio-grid figure {
	position: relative;
}

.portfolio-grid .portfolio-hover {
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	opacity: 0;
	background-image: none;
	background-position: center center;
	background-repeat: no-repeat;
	transition: all ease 0.3s;
}

.portfolio-grid figure:hover .portfolio-hover,
.portfolio-grid .coming-soon .portfolio-hover {
	opacity: 1;
	background-color: rgba(13,20,30,0.9);
}

.portfolio-hover ul {
	margin-top: 30px;
}

.portfolio-hover li {
	cursor: pointer;
	width: 40px;
	text-align: center;
}

.portfolio-hover li:first-child {
	margin-right: 10px;
}

.portfolio-hover li:hover {
}

.portfolio-hover li a {
	display: block;
}

.portfolio-hover h4 {
	margin-top: 20%;
	margin-bottom: 5%;
}

.coming-soon p {
	padding-top: 20%;
	color: #ff643e;
	font-family: 'Oswald', sans-serif;
	font-size: 46px;
	line-height: 54px;
	font-weight: 500;
	text-transform: uppercase;
}


/* CONTACT STYLES */
#contact {
	color: #e7e7e7;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top right;
}

.skills {
	margin-bottom: 15px;
}

.skills .display-bar {
	margin: 5px 0 0;
	height: 16px;
	border-radius: 5px;
	background: #fff;
	border: solid 1px #666;
}

.skills .slider {
	display: block;
	padding-right: 3%;
	height: 16px;
	text-align: right;
	color: #fff;
	font-weight: bold;
	font-size: 11px;
	line-height: 16px;
	background-color: rgba(39,41,55,0.7);
}

.per100 .slider {
	width: inherit;
}

.per75 .slider {
	width: 75%;
}

.per50 .slider {
	width: 50%;
}

.skills li {
	color: #666;
	font-size: 10px;
	text-transform: uppercase;
	margin-bottom: 20px;
}

.aboutme figure,
.aboutme p {
	margin-bottom: 20px;
	line-height: 1.8em;
	font-size: 15px;
}

.aboutme figure {
	margin-right: 20px;
	max-width: 350px;
	min-width: 190px;
}

.aboutme {
	margin-bottom: 30px;
	padding: 20px 20px 0;
	background: #FF643E;
	clear: both;
	overflow: hidden;
}

.aboutme h3 {
	color: #fff;
}

.lets-animate * {
	transition: all ease 1.6s;
}

.lets-animate img,
.lets-animate form {
	opacity: 0;
}

.lets-animate .slider {
	width: 0;
}

.come-in img,
.come-in form,
.already-visible img,
.already-visible form {
  	opacity: 1;
}

.come-in .per100 .slider,
.already-visible .per100 .slider {
	 width: 97%;
}

.come-in .per75 .slider,
.already-visible .per75 .slider {
	 width: 72%;
}

.already-visible img,
.already-visible form {
	margin-left: 0;
	opacity: 1;
}

.skills.lets-animate {
	transform: translateY(0);
}

@media only screen and (min-width: 900px) {
	form {
		float: right;
		margin: 0 auto;
		width: 600px;
	}
	#contact {
		background-image: url(../img/coffee-background.jpg);
	}
	header {
		height: 83px;
	}
	.navTrigger {
		display: none;	
	}
	header nav {
		display: block !important;
		position: static;
		text-align: right;
		background-color: transparent;
	}
	nav li {
		display: inline-block;
	}
	nav a {
		text-align: left;
		display: inline-block;
		text-transform: uppercase;
		padding: 30px 18px;
	}
}

@media only screen and (min-width: 500px) and (max-width: 900px) {
	#contact {
		background-image: url(../img/coffee-background.jpg);
		text-align: center;
	}
	form {
		display: inline-block;
		float: none;
		width: 400px;
		margin-right: auto;
		margin-left: auto;
	}
	a.button {
		display: block;
	}
	.logo:first-line,
	a.logo:first-line {
		font-size: 20px;
	}
	.logo,
	a.logo {
		line-height: 40px;
	}
	footer,
	footer .copyright {
		padding: 0;
		text-align: center;
	}
	footer {
		padding: 10px 0;
	}
}

@media only screen and (max-width: 500px) {
	input,
	textarea {
		width: 100%;
		max-width: 100%;
	}
	#contact {
		background-image: url(../img/coffee-background.jpg);
	}
	a.button {
		display: block;
	}
	.container {
		width: inherit;
		padding-right: 20px;
		padding-left: 20px;
	}
	a.logo:first-line,
	.logo:first-line {
		font-size: 20px;
	}
	a.logo,
	.logo {
		line-height: 40px;
		height: 43px;
		overflow: hidden;
	}
	h2 {
		font-size: 33px;
		line-height: 1em;
	}
	h3 {
		font-size: 22px;
		line-height: 1.3em;
	}
	footer,
	footer .copyright {
		text-align: center;
	}
	footer .copyright {
		padding: 0 0 15px;
	}
	footer .logo {
		
	}
}

