/* OVERALL SITE STYLES */
html,
body,
.container:first-child {
	height: 100%;
	font-family: 'Open Sans', sans-serif;
	font-weight: 500;
	font-size: 16px;
	line-height: 23px;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizelegibility;
	background: #e5e5e5;
	color: #373737;
	cursor: default;
}

a,
a:visited,
a:hover,
a:active,
.clickable {
	color: inherit;
	text-decoration: none;
	outline: none;
	transition: all ease .5s;
}


a.button {
    display: inline-block;
    padding: 5px 10px 6px;
    color: #fff;
    text-decoration: none;
    line-height: 1;
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
    text-shadow:0 -1px 1px rgba(0, 0, 0, 0.25);
    border-bottom: 1px solid rgba(0, 0, 0, 0.25);
    position: relative;
    cursor: pointer;
    background-color: #2DAEBF;
    font-family: 'Open sans', sans-serif;
}

.container {
	max-width: 2000px;
	margin: 0 auto;
	color: #555;
}

.row {
	max-width: 1400px;
	margin-bottom: 30px;
}

button,
input,
select,
textarea {
    color: #333;
}

label {
	line-height: 36px;
}

input,
textarea {
	display: block;
	width: 98%;
	padding:  0 0 0 5px;
	height: 36px;
	font-size: 14px;
	border: solid 1px #666;
	background-color: rgba(255,255,255,0.7);
	transition: .5s all ease;
}

textarea {
	height: auto;
}

form:hover input,
form:hover textarea {
	background-color: rgba(255,255,255,.9);
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

img {
    vertical-align: middle;
}

form {
	padding: 15px;
	text-align: left;
	background-color: #323a47;
}

fieldset {
	display: block;
    border: 0;
    margin: 0;
    padding: 0;
}

fieldset .row {
	margin-top: 15px;
	margin-bottom: 0;
}

textarea {
    resize: vertical;
}

p a {
	text-decoration: underline;
}

.horiz li {
	display: inline-block;
}

h1,
h2,
h3,
h4 {
	font-family: 'Oswald', sans-serif;
	font-weight: 500;
	text-transform: uppercase;
	margin: 0;
	padding: 0;
	display: block;
}

h1 {
	font-size: 60px;
}

h2 {
	font-size: 60px;
	line-height: 1.1em;
	text-align: center;
}

h3 {
	color: #ff643e;
	font-size: 26px;
	line-height: 40px;
	text-align: center;
}
h4 {
	font-size: 20px;
}

/* HEADER STYLES */
header {
	padding-right: 20px;
	padding-left: 20px;
	color: #748f98;
	background: #323a47;
}

.logo {
	font-family: 'Oswald', sans-serif;
	font-size: 27px;
	line-height: 80px;
	color: #fff;
	text-transform: uppercase;
}

.logo:first-line {
	font-size: 27px;
}

nav {
	color: #748f98;
}

nav a {
	display: inline-block;
	text-transform: uppercase;
	padding: 30px 18px;
}

nav a:hover {
	color: #ff643e;
}

header nav a:hover {
	background-color: rgba(51,51,51,0.4);	
}

nav .active a,
nav .active a:hover {
	cursor: default;
	color: #fff;
	background-color: transparent;
}

/* Footer Styles */
footer {
	padding-right: 20px;
	padding-left: 20px;
	color: #666;
	background: #fff;
}

footer .logo {
	color: #666;
}

footer .copyright {
	padding-top: 30px;
	text-align: right;
}

/* STYLES FOR ALL HOME SECTIONS */
section.container {
	padding-top: 30px;
	padding-bottom: 30px;
}


/* PORTFOLIO STYLES */
#portfolio {
	color: #e5e5e5;
	background: #323a47;
}

#portfolio figure {
	margin-top: 30px;
}

.portfolio-grid figure {
	position: relative;
}

.portfolio-grid figure:hover .portfolio-hover {
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	background-color: rgba(39,41,55,0.7);
	transition: all ease 0.3s;
	cursor: pointer;
}

/* CONTACT STYLES */
#contact {
	color: #e7e7e7;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top right;
}

@media only screen and (min-width: 900px) {
	form {
		float: right;
		margin: 0 auto;
		width: 600px;
	}
	#contact {
		background-image: url(../img/coffee-background.jpg);
	}
}

@media only screen and (min-width: 500px) and (max-width: 900px) {
	#contact {
		background-image: url(../img/coffee-background.jpg);
		text-align: center;
	}
	form {
		display: inline-block;
		float: none;
		width: 400px;
		margin-right: auto;
		margin-left: auto;
	}
}

@media only screen and (max-width: 500px) {
	input,
	textarea {
		width: 100%;
		max-width: 100%;
	}
	#contact {
		background-image: url(../img/coffee-background.jpg);
	}
	.container {
		width: inherit;
		padding-right: 20px;
		padding-left: 20px;
	}
	h2 {
		font-size: 33px;
		line-height: 1em;
	}
	h3 {
		font-size: 22px;
		line-height: 1.3em;
	}
	footer,
	footer .copyright {
		text-align: center;
	}
	footer .copyright {
		padding: 0 0 15px;
	}
	footer .logo {
		
	}
}

